<div class="filesRow">
    <div class="fileColumn">{{id}}</div>
    <div class="fileColumn"><img src="{{image}}.png" width="50px" height="50px"></div>
    <div class="fileColumn">{{name}}</div>
    <div class="fileColumn">{{size}}</div>
    <div class="fileColumn">{{type}}</div>
    <form class="fileColumn" action="deleteFiles/{{id}}" method="post"><input type="submit" value="DELETE"
            style="border:none; background-color:inherit; color:#999999; text-decoration:underline; font-weight:bold">
    </form>
    <form class="fileColumn" action="info/{{id}}" method="post"><input type="submit" value="INFO"
            style="border:none; background-color:inherit; color:#999999; text-decoration:underline; font-weight:bold">
    </form>
    <form class="fileColumn" action="download/{{id}}" method="post"><input type="submit" value="DOWNLOAD"
            style="border:none; background-color:inherit; color:#999999; text-decoration:underline; font-weight:bold">
    </form>
</div>