<div id="leftMargin">
    <div>
        <h2 style="display: flex;justify-content:center">file info</h2>

    </div>
</div>
<div id="content" style="flex-direction: column; justify-content: flex-start; padding-top:1vh">
    <div style="display: flex; flex-direction: row; align-items:center;">
        <h2 style="margin-left: 4vw;text-decoration: underline;color: #0000cc">id:</h2>
        <h3 style="color:#888888">&nbsp;&nbsp;&nbsp;{{id}}</h3>
    </div>
    <div style="display: flex; flex-direction: row; align-items:center;">
        <h2 style="margin-left: 4vw;text-decoration: underline;color: #0000cc">name:</h2>
        <h3 style="color:#888888">&nbsp;&nbsp;&nbsp;{{name}}</h3>
    </div>
    <div style="display: flex; flex-direction: row; align-items:center;">
        <h2 style="margin-left: 4vw;text-decoration: underline;color: #0000cc">path:</h2>
        <h3 style="color:#888888">&nbsp;&nbsp;&nbsp;{{path}}</h3>
    </div>
    <div style="display: flex; flex-direction: row; align-items:center;">
        <h2 style="margin-left: 4vw;text-decoration: underline;color: #0000cc">size:</h2>
        <h3 style="color:#888888">&nbsp;&nbsp;&nbsp;{{size}}</h3>
    </div>
    <div style="display: flex; flex-direction: row; align-items:center;">
        <h2 style="margin-left: 4vw;text-decoration: underline;color: #0000cc">type:</h2>
        <h3 style="color:#888888">&nbsp;&nbsp;&nbsp;{{type}}</h3>
    </div>
    <div style="display: flex; flex-direction: row; align-items:center;">
        <h2 style="margin-left: 4vw;text-decoration: underline;color: #0000cc">savedate:</h2>
        <h3 style="color:#888888">&nbsp;&nbsp;&nbsp;{{date}}</h3>
    </div>
</div>